*{
    color: white;
    font-family: sans-serif;
}
body{
    background-image: url(img/bg.jpg);
}
.heading{
    margin: auto;
    width: 870px;
}
h1, h3, h4{
    color: orange !important;
}
.container{
    margin: auto;
    background-color:rgb(0, 0, 0,0.6);
    width: 900px;
    min-height: 950px;
    border-radius: 15px;
}
.left{
    padding-top: 10px;
    width: 70%;
    min-height: 700px;
    float: left;
}
.left-top > img{
    width: 95%;
    display: block;
    margin: auto;
    padding-top: 10px;
}
.left-top{
    text-align: center;
}

.left-bottom-column{
    width: 29%;
    float: left;
    padding-left: 21px;
}
.left-bottom-column > img{
    width: 80%;
}
.left-bottom-column > a{
    text-decoration: none;
    background: linear-gradient(180deg,orange,rgb(191, 126, 5));
    color: black !important;
    padding: 5px 15px;
    border-radius: 10px;
}
.right{
    padding-top: 10px;
    width: 29%;
    min-height: 700px;
    float: left;
}
.right > img{
    display: block;
    margin: auto;
    padding-top: 10px;
}
.right > h3, .right > p{
    padding-left: 20px;
}
form{
    padding-left: 20px;
}
input[type=text], input[type=submit],textarea{
    margin: 10px 0px;
    background-color: rgb(84, 82, 82);
    border-width: 0ch;
    padding: 10px 0px;
}
input[type=submit]{
    background: linear-gradient(180deg,orange,rgb(191, 126, 5));
    color: black !important;
    padding: 5px 15px;
    border-width: 0ch;
    border-radius: 7px;
}
.left-border{
    border-left: 2px dotted white;
    
}